#questionContainer {
	font-family: Helvetica, Arial, Sans-serif;		
	background-color: #e0ded9;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;		
	border: 1px solid rgb(200,200,200);		
	box-shadow: 0px 0px 3px #888;		
	color:#FFF;
	font-size:1.2em;	
	width: 700px;
	padding: 2em;
}

body {
	background-color: a0aea9;
}

#questionInput {
	border-radius: 4px;
	padding: 6px 4px 6px 4px;
	margin-top: 7px;	
	margin-bottom: 5px;	
	width: 98%;
	font-size: 1em;	
	color: #BBB;
}

#chartSpace {
	background-color: #f0eee9;
	position: relative;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 20%;
	border-radius: 7px;
	width: 80%;
	height: 60%;
}

path {
    stroke: green;
    stroke-width: 2;
    fill: none;
}
 
line {
    stroke: black;
}